@import "./../../../../styles.scss";

.home {
  width: 100%;
}
.home__header {
  width: 100%;
}

.home__content {
  @include flex-center;
  flex: 1;

  position: absolute;
  width: 100%;

  &-ads, &-contacts {
    width: 12.5%;
  }

  &-main {
    width: 75%;
  }
}

.home__footer {
  position: absolute;
  width: 100%;
  margin-top: 45rem;
}
