/* You can add global styles to this file, and also import other style files */

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}


@mixin flex-space-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  /* 1 rem 10px */
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}
body {
  font-family: var(--font-main);
  font-size: 1.6rem;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}


.container {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0rem 2rem;
}
