<swiper-container swiperDirective #swiperElementRef [config]="customSwiperOptions" autoplay>
  <swiper-slide *ngFor="let item of swiperSlideContents">
    <img [src]="item.url" alt="">
  </swiper-slide>
</swiper-container>

<!--
 [loop]="true"
      [autoHeight]="true"
      [allowTouchMove]="true"
      [autoplay]="{ delay: 1000, disableOnInteraction: false }"
      [pagination]="{ clickable: true }"
      [navigation]="true"

      [loop]="true"
  [autoHeight]="false"
  [css-mode]="true"
  [navigation]="true"
  [pagination]="{ clickable: true }"
  [scrollbar]="false"
  autoplay="true"
  [autoplay]="{ delay: 2000, disableOnInteraction: false, pauseOnMouseEnter: true, }"
  [allowTouchMove]="true"
 -->
